* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/edu/uiowa/icts/FederationTagLib/DBTest.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/FederationTagLibBodyTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/FederationTagLibTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/README.txt svneol=native#text/plain
src/main/java/edu/uiowa/icts/FederationTagLib/Sequence.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/document.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/image.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQuery.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryIpAddress.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryQid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryQueryDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryQueryDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundQuery/InboundQueryQueryString.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearch.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchIpAddress.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchSearchDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchSearchDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchSearchString.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/inboundSearch/InboundSearchSid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQuery.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryQid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryQueryDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryQueryDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/outboundQuery/OutboundQueryQueryString.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/Response.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseClickDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseClickDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseHitCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponsePopulationType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponsePreviewUrl.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseQid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseRequestDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseRequestDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseResponseDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseResponseDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseResultsUrl.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/response/ResponseSid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/search/Search.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/search/SearchThread.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/BootstrapSite.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/Site.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteAggregateQueryUrl.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteBootstrapUrl.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteIpAddress.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteLastValidation.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteLastValidationToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/FederationTagLib/site/SiteSid.java svneol=native#text/x-java-source
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/non-packaged-resources/FederationTagLib.clay -text svneol=unset#text/xml
src/non-packaged-resources/FederationTagLib.sql svneol=native#text/plain
src/non-packaged-resources/tags.tld -text svneol=unset#text/xml
src/test/java/edu/uiowa/icts/FederationTagLib/README.txt svneol=native#text/plain
src/test/resources/README.txt svneol=native#text/plain
